.btn-classic {
  background-color: gray;
  color: white;
}

.btn-classic:hover {
  background-color: rgb(102, 102, 102);
  color: white;
}

.btn-delete {
  background-color: lightcoral;
  color: black;
}

.btn-delete:hover {
  background-color: rgb(235, 89, 89);
  color: black;
}

.btn-edit {
  background-color: orange;
  color: black;
}

.btn-edit:hover {
  background-color: rgb(202, 131, 0);
  color: black;
}

.btn-edit svg {
  width: auto;
  height: auto;
  margin-top: auto;
}

.btn:focus {
  box-shadow: none;
}

.footer,
.header {
  background-color: rgb(233, 255, 255);
}

.band {
  background-color: rgba(62, 154, 131, 0.599);
}
