.btn-classic {
  background-color: gray;
  color: white;
}

.btn-classic:hover {
  background-color: rgb(102, 102, 102);
  color: white;
}

.btn:focus {
    box-shadow: none;
}

.footer, .header {
	background-color: rgb(233, 255, 255);
}

.band {
  background-color: rgba(62, 154, 131, 0.599);
}
