.table {
	text-align: center;
	border: 2px solid #d3d3d3;
	width: 95%;
	margin:auto;
	line-height: 5px;
	border-collapse: collapse;
}

.sidebar {
	text-align: center;
	width:120px;
	min-width:120px;
}

.cell, .cell-booked, .t-row, .t-head{       
	border: 2px solid #d3d3d3;
}

.t-head, .sidebar {
	background-color: rgb(233, 255, 255);
}

.cell-booked {
	background-color: rgb(45, 104, 104);
}

.cell-booked-user {
	background-color: rgb(41, 202, 162);
}

.td {
	padding:0;
}