.table {
	text-align: center;
	border: 2px solid #d3d3d3;
	width: 95%;
	margin:auto;
	line-height: 5px;
	border-collapse: collapse;
}

.sidebar {
	text-align: center;
	width:120px;
	min-width:120px;
}

.cell, .cell-booked, .t-row, .t-head{       
	border: 2px solid #d3d3d3;
}

.t-head, .sidebar {
	background-color: rgb(233, 255, 255);
}

.cell-booked {
	background-color: rgba(189, 212, 212, 0.747);
}

.cell-booked-user {
	background-color: rgba(62, 154, 131, 0.599);
}

.cell-selected {
	background-color: orange;
}

.td {
	padding:0;
}

.saveButton {
	float: right;
	margin: 2%;
	background-color: transparent;
	border: 1px solid;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: bold;
}

.div-hidden {
	display: none;
}