.table {
	text-align: center;
	border: 2px solid #d3d3d3;
	width: 95%;
	margin:auto;
	line-height: 5px;
	border-collapse: collapse;
}

.sidebar {
	text-align: center;
	width:120px;
	min-width:120px;
	background-color: rgb(233, 255, 255);
}

.cell, .cell-booked, .t-row, .t-head{       
	border: 2px solid #d3d3d3;
}

.t-head {
	background-color: rgb(233, 255, 255);
}

.cell-booked {
	background-color: rgba(255, 47, 0, 0.662);
}

.td {
	padding:0;
}