.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.footer-left {
  display: inline-block;
  text-align: left;
  width: 80%;
}

.footer-right {
  display: inline-block;
  text-align: right;
}
