body {
  padding: 86px 0px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  left: 0;
  top: 0;
  position: fixed;
  border-bottom-style: solid;
  border-color: #d6d6d6;
  border-width: 1px;
  padding: 7px 20px;
  width: 100%;
}
.header-left {
  padding: 9px 0;
  vertical-align: top;
  display: inline-block;
  text-align: left;
}
.header-right {
  padding: 21px;
  margin: auto;
  float: right;
}

.menu-button {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0.25rem;
}

.menu-button:hover {
  color: black;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
}

.logo {
  float: left;
  display: inline-block;
  padding: 15px 5px;
}
